<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Metadata y recursos -->
    <meta charset="UTF-8">
    <title>{{integrante.nombre}} {{integrante.apellido}} - {{integrante.matricula}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap' rel='stylesheet'>

    <!-- Estilos del sitio -->
    <style>
        body {
            font-family: 'Noto Sans', sans-serif;
            margin: 0;
            padding: 0;
            background-color: {{colores.background}}; /* Blanco */
            color: {{colores.texto}};
        }

        header{
            background-color: {{colores.headerBackground}}; 
            color: #FFFFFF;
            text-align: center;
            padding: 10px 20px;
            animation: fadeIn 2s ease-out;
        }

        .nav-links, nav {
            display: flex;
            justify-content: space-between; /* Alineación horizontal de los elementos */
            align-items: center; /* Alineación vertical de los elementos */
            list-style: none; /* Remover el estilo de lista */
            padding: 0;
        }

        .nav-links li, li a {
            margin: 0 10px;
            transition: background-color 0.3s, transform 0.2s ease;
        }

        li a {
            display: inline-block;
            padding: 7px 13px;
            font-size: 12px;
            background-color: #ca98da;
            border-radius: 8px;
            box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
            color: #555;
            text-decoration: none;
        }

        li a:hover, li a:focus {
            transform: translateY(-3px); /* Efecto elevación al pasar el ratón */
            background-color: #a783b8;
            color: white;
        }

        section {
            margin: 20px auto;
            padding: 20px;
            background-color: {{colores.sectionBackground}}; 
            color: #FFFFFF; 
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            max-width: 800px;
            animation: slideIn 1s ease-out;
        }

        iframe, img {
            display: block;
            max-width: 100%;
            margin: 20px auto;
            border-radius: 5px;
        }

        img {
            animation: rotate 10s infinite linear;
        }

        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }

        @keyframes slideIn {
            0% { transform: translateY(20px); opacity: 0; }
            100% { transform: translateY(0); opacity: 1; }
        }

        @keyframes rotate {
            0% { transform: rotate(0deg); }
            50% { transform: rotate(5deg); }
            100% { transform: rotate(0deg); }
        }
    </style>
</head>
<body>
    <!-- Inclusión de la navegación con Handlebars -->
    <header>
        <h1>{{integrante.nombre}} {{integrante.apellido}}</h1>
        <p>Matrícula: {{integrante.matricula}}</p>
        
    </header>

    {{> nav }}

    <!-- Secciones de contenido multimedia -->
    <section>
        <h2>Video Favorito</h2>
        <iframe id="videoFavorito" width="560" height="315" src="{{media.youtube}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
    <section>
        <h2>Imagen Representativa</h2>
        <img id="imagenRepresentativa" src="{{media.imagen}}" alt="Descripción de la imagen">
    </section>
    <section>
        <h2>Mi Dibujo</h2>
        <img id="miDibujo" src="{{media.dibujo}}" alt="Dibujo de Lujan Caceres">
    </section>

    <!-- Footer opcional -->
    {{> footer }}

</body>
</html>
